﻿@*@model  List<Paymaster.DataContract.Organization.ViewModel.TemplatesViewModel.PrintChecksDetails>*@
@model List<Paymaster.DataContract.Organization.ViewModel.TemplatesViewModel.ViewPrintChecksDetails>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>PDF</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <style>
        @@ media print {
            @@ page {
                margin: 0;
            }

            body {
                margin: 1.6cm;
            }
        }
    </style>
</head>
<body style="padding:0;margin:0;">
    @{ foreach (var item in Model)
        {
            <table style="width:100%;float:left;margin-bottom:180px;vertical-align:top;" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div style="font-family: 'Roboto', 'sans-serif';padding:0px 0;width:100%;float:left;">
                            <div style="padding:0 15px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;box-shadow:0px 0px 5px rgba(0,0,0,0.3);border:1px solid #ccc;border-top:10px solid #5968bd;">
                                <div style="padding:0px;">
                                    <table style="width:100%;font-family: 'Roboto', 'sans-serif';" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="vertical-align:top;">
                                                    <p style="font-size:12px;">
                                                        @item.Firstname @item.LastName<br>
                                                        1134 main street<br>
                                                        Louiseville, KY 40211<br>
                                                        (502) 123-1234
                                                    </p>
                                            </td>
                                            <td style="vertical-align:top;">
                                                <p style="font-size:12px;">
                                                    My Bank<br>
                                                    <span style="font-size:11px;">@item.PayorBankNumber</span>
                                                </p>
                                            </td>
                                            <td style="text-align:right;vertical-align:top;">
                                                <p style="margin-bottom:30px;font-size:12px;"><strong>Check No.</strong><span style="font-size:11px;"> @item.CheckNumber</span></p>
                                                <p style="font-size:12px;">@item.CheckDate</p>
                                            </td>
                                        </tr>
                                    </table>
                                    <table style="width:100%;font-family: 'Roboto', 'sans-serif';" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="width:100px;vertical-align:middle;font-size:12px;"><strong>Pay To The <br>Order Of</strong></td>
                                            <td style="vertical-align:middle;margin-top:25px;"><p style="border-bottom:1px solid #000;font-size:11px;">@item.Firstname @item.LastName</p></td>
                                            <td style="width: 150px;text-align: center;vertical-align:middle;"><p><strong style="display:inline-block;margin-right:20px;font-size:12px;">$</strong><span style="font-size:12px;"> ***@item.TotalEarning</span></p></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><p style="border-bottom:1px solid #000;font-size:12px;">@item.AmountInWords</p></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="3" style="padding-left:50px;">
                                                    <p> @item.Firstname @item.LastName<br>1123 River Road<br>Louiseville, KY 42011</p>
                                                </td>
                                            </tr>*@
                                        @*<tr>
                                                <td colspan="3">
                                                    <p><strong>Memo :</strong>PayCheck</p>
                                                </td>
                                            </tr>*@
                                        <tr>
                                            <td colspan="3">
                                                <p style="text-align:center;font-size:15px;margin:0 0 15px;font-family: 'Teko', 'sans-serif';"><strong>"000001000"-:123456789-:123456789" </strong></p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;padding:0px 0;margin-top:30px;float:left;">
                            <table style="width:100%;font-family: 'Roboto', 'sans-serif';" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="vertical-align:top">
                                        <p style="margin:0 0 15px;font-size:12px;">
                                            <strong>Karen Art Studio</strong><br>
                                            1134 Main Street<br>
                                            Louiseville, KY 40211<br>
                                            (502)123-1234
                                        </p>
                                    </td>
                                    <td style="vertical-align:top">
                                        <p style="margin:0 0 15px;font-size:12px;">
                                            <span><strong> Payee:</strong></span><br>
                                            <strong>@item.Firstname @item.LastName</strong><br>
                                            (@item.Number)
                                            @*1134 Main Street<br>*@
                                            @*Louiseville, KY 40211<br>*@
                                            @*(502)123-1234*@
                                        </p>
                                    </td>
                                    <td style="vertical-align:top">
                                        @* <p style="margin:0 0 2px"><span style="width:108px;display:inline-block;">SSN</span>132-12-3123</p>*@
                                        <p style="margin:0 0 2px;font-size:14px;"><span style="width:100px;display:inline-block;font-size:13px;">Gross Pay</span> <span style="font-size:12px;"> $@item.Gross</span></p>
                                        <p style="margin:0 0 2px;font-size:14px;"><span style="width:100px;display:inline-block;font-size:13px;">Net Pay</span><span style="font-size:12px;">$@item.TotalEarning</span></p>
                                        @*<p style="margin:0 0 2px"><span style="width:108px;display:inline-block;">Filling Status</span>M3</p>*@
                                    </td>
                                    <td style="vertical-align:top">
                                        <p style="margin:0 0 2px;font-size:14px;"><span style="width:130px;display:inline-block;font-size:13px;">Period Beginning</span><span style="font-size:12px;">@item.StartDate</span></p>
                                        <p style="margin:0 0 2px;font-size:14px;"><span style="width:130px;display:inline-block;font-size:13px;font-size:13px;">Period Ending</span><span style="font-size:12px;">@item.EndDate</span></p>
                                        <p style="margin:0 0 2px;font-size:14px;"><span style="width:130px;display:inline-block;font-size:13px;">Check Date</span><span style="font-size:12px;">@item.CheckDate</span></p>
                                        <p style="margin:0 0 2px;font-size:14px;"><span style="width:130px;display:inline-block;font-size:13px;">Check No</span><span style="font-size:12px;">@item.CheckNumber</span></p>
                                    </td>
                                </tr>
                            </table>
                            <div class="style:width:100%;margin-top:20px;display:inline-block;margin-bottom:50px;">
                                <table width="49%" align="left" style="float:left;width:49%;font-family: 'Roboto', 'sans-serif';" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th style="font-size:12px;background-color: #e8fff4;padding:2px 5px;text-align:left;border-top:1px solid #000;border-bottom:1px solid #000;">Earning</th>
                                        @*<th style="font-size:14px;background-color: #e8fff4;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Hours/Rate</th>*@
                                        <th style="font-size:12px;background-color: #e8fff4;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Amt.</th>
                                        <th style="font-size:12px;background-color: #e8fff4;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">YTD Amt.</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #e8fff4;padding:2px 5px;">Regular</td>
                                        @*<td style="font-size:14px;background-color: #e8fff4;text-align:right;padding:2px 5px;">@item.RegularPayRate</td>*@
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Regular</td>
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Regular</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #e8fff4;padding:2px 5px;">Holiday</td>
                                        @*<td style="font-size:14px;background-color: #e8fff4;text-align:right;padding:2px 5px;">@item.HolidayPayRate</td>*@
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Holiday</td>
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Holiday</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #e8fff4;padding:2px 5px;">Vacation</td>
                                        @*<td style="font-size:14px;background-color: #e8fff4;text-align:right;padding:2px 5px;">@item.VacationPayRate</td>*@
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Vacation</td>
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Vacation</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #e8fff4;padding:2px 5px;">Bonus</td>
                                        @*<td style="font-size:14px;background-color: #e8fff4;text-align:right;padding:2px 5px;">0/0</td>*@
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Bonus</td>
                                        <td style="font-size:11px;background-color: #e8fff4;text-align:right;padding:2px 5px;">$@item.Bonus</td>
                                    </tr>
                                    <tr style="">
                                        <td style="font-size:12px;border-top:1px solid #000;padding:2px 5px;">Gross Pay</td>
                                        <td style="font-size:11px;text-align:right;border-top:1px solid #000;padding:2px 5px;"></td>
                                        <td style="font-size:11px;text-align:right;border-top:1px solid #000;padding:2px 5px;">$@item.Gross</td>
                                        <td style="font-size:11px;text-align:right;border-top:1px solid #000;padding:2px 5px;"></td>
                                    </tr>
                                </table>
                                <table width="49%" align="right" style="width:49%;float:right;font-family: 'Roboto', 'sans-serif';" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th style="font-size:12px;background-color: #ffecea;padding:2px 5px;text-align:left;border-top:1px solid #000;border-bottom:1px solid #000;">Taxes/Deductions</th>
                                        <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Amt.</th>
                                        <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">YTD Amt</th>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #ffecea;padding:2px 5px;">Federal Tax</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">@item.FederalTaxAmount</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">$@item.FederalTaxAmount</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #ffecea;padding:2px 5px;">Social Security Tax</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">@item.SocialSecurityTaxAmount</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">$@item.SocialSecurityTaxAmount</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #ffecea;padding:2px 5px;">Medicare Tax</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">@item.MedicareTaxAmount</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">$@item.MedicareTaxAmount</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:12px;background-color: #ffecea;padding:2px 5px;">State Tax</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">@item.StateTaxAmount</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;">$@item.StateTaxAmount</td>
                                    </tr>
                                    <tr>
                                        @*<tr>
                                                <td style="padding:2px 5px;">Salary</td>
                                                <td style="text-align:right;padding:2px 5px;">0/0</td>
                                                <td style="text-align:right;padding:2px 5px;">$1,288,46</td>
                                            </tr>*@
                                    <tr style="">
                                        <td style="font-size:12px;background-color: #ffecea;border-top:1px solid #000;padding:2px 5px;">Net Pay</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;border-top:1px solid #000;padding:2px 5px;"></td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;border-top:1px solid #000;padding:2px 5px;">$@item.TotalEarning</td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div style="width:100%;padding:0px 0;float:left;margin-top:30px;">
                            <table width="100%" align="right" style="width:100%;float:right;font-family: 'Roboto', 'sans-serif';" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th style="font-size:12px;background-color: #ffecea;padding:2px 5px;text-align:left;border-top:1px solid #000;border-bottom:1px solid #000;">Type</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">In Time</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Out Time</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Day</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Date</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Hours Clock</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Hours</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Hourly Rate ($)</th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Ovt. </th>
                                    <th style="font-size:12px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">Amt. ($)</th>
                                </tr>
                                @foreach (var itemList in item.TimePunchList)
                                {
                                    <tr>
                                        <td style="font-size:11px;background-color: #ffecea;padding:2px 5px;text-align:left;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.TypeCode</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.InDateTime</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.OutDateTime</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.RefereceDay</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.ReferenceDate</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.HoursClock</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.Hours</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.Hourly_PayRate</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.OvertimeMultiplier</td>
                                        <td style="font-size:11px;background-color: #ffecea;text-align:right;padding:2px 5px;border-top:1px solid #000;border-bottom:1px solid #000;">@itemList.Amount</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        }
    }
</body>
</html>